[Desktop Entry]
Name=OxideMX Settings
Comment=Configure OxideMX radial menu
Comment[nb]=Konfigurer OxideMX radialmeny
Comment[es]=Configurar el menú radial de OxideMX
Comment[pt_BR]=Configurar o menu radial OxideMX
Comment[de]=OxideMX Radialmenü konfigurieren
Comment[fr]=Configurer le menu radial OxideMX
Comment[it]=Configura il menu radiale OxideMX
Comment[ru]=Настроить радиальное меню OxideMX
Comment[ja]=OxideMX ラジアルメニューの設定
Comment[th]=ตั้งค่าเมนูเรเดียล OxideMX
Comment[zh_CN]=配置 OxideMX 径向菜单
Comment[ko]=OxideMX 방사형 메뉴 설정
Comment[hi]=OxideMX रेडियल मेनू कॉन्फ़िगर करें
Exec=oxidemx-settings
Icon=oxidemx
Terminal=false
Type=Application
Categories=Settings;Utility;
Keywords=mouse;logitech;radial;menu;settings;
StartupNotify=true
StartupWMClass=org.oxidemx.settings
